<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
</head>

<body>
    <h1>User Information/Textbook Application</h1>
    <div>
        <strong>Name: </strong><%- name %><br>
        <strong>Email Address: </strong><%- address %><br>
        <strong>Username: </strong><%- username %><br>
        <strong>Textbook Name: </strong><%- textbook_name %><br>
        <strong>Price: </strong><%- price %><br>
        <strong>Description of Condition: </strong><%- desc_of_cond %><br>
        <br>
        <a href="/">HOME</a>
    </div>
</body>

</html>
